@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Для навигации используйте кнопки наверху или внизу страницы.</p>
</div>
